[submodule "beesearch"]
	path = beesearch
	url = https://github.com/rweinberger/beesearch
[submodule "connected-beehive-site"]
	path = connected-beehive-site
	url = https://github.com/rweinberger/connected-beehive-site
